<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.finalyproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/warehouse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/warehouse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdataActivity" />
        <activity android:name=".AllProductActivity"></activity>
        <activity android:name=".AddProductActivity" />

        <provider
            android:name=".DataBase.Provider"
            android:authorities="com.example.user.finalyproject"
            android:exported="false" />

        <activity android:name=".DetailActivity" />
        <activity android:name=".SpleshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>